<!DOCTYPE html>
<html>
<head>
  <title>LessBootstrapPlay</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#">comnspace</a>
        <div class="pull-right">
					<form class="navbar-search pull-left">
						<input type="text" class="search-query" placeholder="Filter...">
					</form>
					<ul class="nav">
						<li class="active"><a href="#"><i class="icon-user icon-gray"></i>dan</a></li>
						<li><a href="#"><i class="icon-share-alt icon-gray"></i>share</a></li>
						<li><a href="#"><i class="icon-cog icon-gray"></i>settings</a></li>
						<li><a href="#"><i class="icon-off icon-gray"></i>logout</a></li>
					</ul>
				</div>
      </div>
    </div>
  </div>

  <div id="alert-test" class="alert alert-success fixed-alert slide">
		<a id="alert-test-close" class="close">×</a>
	  <div id="alert-test-content"><strong>Wohooo!</strong> Alerts are awesome.</div>
	</div>
	<div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
        	<ul class="nav nav-list">
						<li class="nav-header">Groups<i class="icon-plus icon-gray-black pull-right"></i></li>
						<li class="active"><a href="#"><i class="icon-edit icon-gray-black"></i>comnspace ideas</a></li>
						<li ><a href="#">web development</a><i class="icon-remove icon-gray-black pull-right"></i></li>
						<li><a href="#">berkeley waterski</a></li>
						<li><a href="#">wakeboarders</a></li>
						<li class="nav-header">Blogs<i class="icon-plus icon-gray-black pull-right"></i></li>
						<li><a href="#"><i class="favicon-engadget"></i>Engadget</a></li>
						<li><a href="#"><i class="favicon-techcrunch"></i>Techcrunch</a></li>
						<li><a href="#"><i class="favicon-highscalability"></i>High Scalability</a></li>
						<li><a href="#"><i class="favicon-railscasts"></i>Railscasts</a></li>
						<li class="nav-header">Tags</li>
						<li class="nav-tags"><a href="#"><i class="icon-star"></i>Starred</a></li>
						<li class="nav-tags"><a href="#"><i class="icon-bookmark"></i>Read Later</a></li>
						<li class="nav-tags"><a href="#"><i class="icon-picture"></i>Image</a></li>
						<li class="nav-tags"><a href="#"><i class="icon-facetime-video"></i>Video</a></li>
						<li class="nav-tags"><a href="#"><i class="icon-tag"></i>Andriod</a></li>
          	<li class="nav-tags"><a href="#"><i class="icon-tag"></i>Backbone.js</a></li>
          	<li class="nav-tags"><a href="#"><i class="icon-tag"></i>iPhone</a></li>
          	<li class="nav-tags"><a href="#"><i class="icon-tag"></i>rails</a></li>
          	<li class="nav-tags"><a href="#"><i class="icon-tag"></i>Streaming Video</a></li>
          	<li class="nav-tags"><a href="#"><i class="icon-tag"></i>Tutorials</a></li>
        	</ul>
        </div><!--/.well -->
      </div><!--/span-->
      <div class="span9">	
				<%= yield %>
			</div>
		</div>

		<hr>
	  <footer>
	    <p>&copy; comnspace 2012</p>
	  </footer>
	</div>
</body>
</html>
